.banner-container {
    height: 35vh;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;


    background-image: url("../assets/cannabis_Destination.svg");
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    height: 100%;
}

.banner-heading {
    color: #fff;
    font-size: 3.5rem;
    letter-spacing: 0px;
    font-family: fantasy sans-serif;
}